@media (max-width: 860px) {


    .meme-container {
        display: flex;
        flex-direction: column;
        margin-inline-start: 1rem;
        align-items: flex-start;
    }


    .toggle-menu {
        color: var(--clr5);
        background-color: var(--clr1);
        cursor: pointer;
        border-radius: 0.5rem;
        font-size: 1rem;
        display: unset;
        margin-inline-end: 1rem;
    }

    .main-nav-list {
        display: block;
        position: fixed;
        flex-direction: column;
        top: 70px;
        right: 0;
        /* border-bottom: 5px solid red; */
        /* height: 100vh; */
        height: calc(100vh - 70px);
        background-color: var(--clr2);
        min-width: 200px;
        transition: transform .6s, box-shadow .6s;
        transform: translateX(100%);


    }

    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    body.menu-opened .main-nav-list {
        transform: translateX(0);

    }

    body.menu-opened .main-screen {
        opacity: 1;
        pointer-events: auto;
    }

    .main-nav-list li a {
        margin-inline-end: none;
        width: 100%;
    }

    canvas {
        min-width: 80%;
        margin-top: 85px;
        width: 320px;
        margin-bottom: 0;
    }

    .control-box {
        height: 320px;
        width: 320px;
        margin-top: 0;
        margin-bottom: 0.5px;

    }

    .line-controller-container button {
        font-size: 1.5rem;
    }

    .line-controller-btn img {
        width: 80%;
    }

    .text-edit-container {
        margin-top: 0;

    }

    .text-edit-container .text-edit-btn {
        width: 95%;
    }

    .add-text-container {
        margin: 0.5rem;
        margin-top: 0;
    }

    .main-footer-container {
        height: 170px;
        min-width: 370px;
    }


}

/* small */
@media(min-width: 640px) {
    .main-layout>*:not(.full) {
        max-width: var(--small);
    }

    canvas {
        width: 400px;
    }

    .control-box {
        width: 400px;
        height: 400px;
        /* border: 2px solid black; */
        border-radius: 15px;
        background-color: rgba(222, 213, 202, 0.708);
        margin: 1rem;
    }

    .line-controller-container button {
        font-size: 1.5rem;
    }

    .line-controller-btn img {
        width: 60%;
    }

    .text-edit-container {
        margin-top: 1.5rem;
    }


    .text-edit-container .text-edit-btn {
        width: 100%;
        padding: 5px;
    }


}


/* medium */
@media (min-width: 860px) {
    .main-layout>*:not(.full) {
        max-width: var(--medium);
    }
}

/* large */

@media (min-width: 1040px) {
    .main-layout>*:not(.full) {
        max-width: var(--large);
    }
}