*{
    box-sizing: border-box
}


body{
    margin: 0;
    font-family: montserrat-regular;
    background-color:var(--clr1);
    font-size:1.25rem ;
    min-width: 100%;
    min-height: 100%

}

img {
    width: 100%;
    border-radius: 0.85rem;
}

button {
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem;
}

