.flex{
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center{
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.grid{
    display: grid;
}

.flex-col {
    flex-direction: column;
}

.clean-list{
    margin: 0;
    padding: 0;
    list-style: none;
}