.control-box {
    width: 350px;
    height: 350px;
}

.add-text-container {
    margin: 0.5rem
}

.add-text-container .text-input {
    height: 45px; 
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
}

.line-controller-container button {
    width: 75px;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;

}

.text-edit-container {
    grid-template-columns: repeat(5, 45px);
    grid-column-gap: 1rem;
    justify-content: center;
}


.publish-btn-container button {
    width: 120px;
    margin-inline-start: 2rem;
    margin-inline-end: 1.8rem;
    height: 50px;
    font-size: 1rem;
    font-family: montserrat , sans-serif;
}

.line-controller-btn img{
    width: 40%;

}

.line-controller-btn {
    background-color: grey;
}

.text-edit-btn {
    background-color: grey;
    width: 50px;
    height: 50px;
}

.publish-btn-container a{
    text-decoration: none;
    color: var(--clr5);
}

.facebook-icon {
    width: 100%;
    margin-right: 1em;
    display: flex;
    align-self: center;
    cursor: pointer;
}

.share-container a.btn{
    width: 42px;
    background-color: #516fad;;


}

