.control-box {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.474);


}

.add-text-container {
    margin: 0.5rem
}

.add-text-container .text-input {
    height: 45px;
    border-radius: 1rem;
    margin-bottom: 20px;
    font-size: 1rem;
    margin-top: 10px;
    width: 90%;
    margin-inline-start: 2.5%;
    border: 0.5px solid burlywood;
}




.line-controller-container button {
    width: 75px;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    background-color: azure;

}

.text-edit-container {
    grid-template-columns: repeat(5, 45px);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    margin-top: 5%;
}


.publish-btn-container button {
    width: 120px;
    margin-inline-start: 2rem;
    margin-inline-end: 1.8rem;
    height: 50px;
    font-size: 1rem;
    font-family: montserrat , sans-serif;
}

.line-controller-btn img{
    width: 40%;

}

.line-controller-btn {
    background-color: rgb(227, 220, 211)
}

.text-edit-btn {
    width: 50px;
    height: 50px;
    background-color: azure;
}


.publish-btn-container a{
    text-decoration: none;
    color: var(--clr5);
}

.facebook-icon {
    width: 100%;
    margin-right: 1em;
    display: flex;
    align-self: center;
    cursor: pointer;
}

.share-container a.btn{
    width: 42px;
    background-color: #516fad;;

}

.control-box button {
    border-radius: 0.8rem;
}

.text-edit-container select{
    width: 110px;
    text-align: center;
    height: 50px;
    border-radius: 15px;
    background-color: azure;
}


