

.img-gallery {
    padding: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.25rem;
}


.img-gallery-container {
    height: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: var(--clr4);
}

