.logo img{
    margin-top: 0.2em;
    margin-inline-start: 3.5rem;
    align-items: center;
}

.main-header .main-header-container {
    align-items: center;
    border-radius: 3px;
    /* position:fixed; */
    min-width: 100%;
}

.main-nav-list li a {
    border: none;
    color: var(--clr1);
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    height: 70px;
    width: 65px;
    margin-inline-end: 3rem;

}

.main-nav-list li a:hover {
    color: var(--clr5);
    /* box-shadow: inset -1px 0 0 var(--clr5), inset 0 -6px 0 var(--clr5); */
    box-shadow: inset 0px 0 0 #1d1d1d, inset 0 -6px 0 #040a2c;
}


.main-header-container {
    background-color:var(--clr2);
    height: 3.5em;
}





