canvas {
    margin: 1rem;
    border-radius: 15px;

}

.meme-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;
    background-color: var(--clr4);
    width: 100%;
    min-width: 100%;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right:10px;
    background-color: var(--clr2);
    padding: 15px;
    color: var(--clr1);
    font-family: montserrat, sans-serif;
}
.user-msg.open {
    bottom: 200px;
    transition: bottom .5s;
}