@font-face {
    font-family: Impact;
    src: url(/fonts/Impact-Font/impact.ttf);

}

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf/montserrat-regular);
}

